{% extends "account/base.html" %}
{% block title %} Login {% endblock %}
{% block main_content %}
<h1>This is the login page</h1>
<form action="{% url 'account:submit-login' %}" method="post">
    {% csrf_token %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <ul>
        <li><input type="text" name="accountNo" id="" placeholder="Account Number"></li>
        <li><input type="text" name="password" id="" placeholder="Password"></li>
    </ul>
    <input type="submit" value="Login">
</form>
<a href="{% url 'account:create-profile' %}">Create Account</a>
{% endblock %}